includes:
    - phpstan.neon.dist

parameters:
    ignoreErrors:
        - '#Function pcntl_open not found\.#'
        - '#Variable \$this might not be defined\.#'
        - "#^Call to an undefined method App\\\\Models\\\\ApiModel\\:\\:getToken\\(\\)\\.$#"
        - "#^Function db_connect not found\\.$#"
        - "#^Constant APPPATH not found\\.$#"
        - "#^Constant FCPATH not found\\.$#"
        - "#^Constant ROOTPATH not found\\.$#"
        - "#^Function helper not found\\.$#"
        - "#^Function lang not found\\.$#"
        - "#^Call to method getJsonBody\\(\\) on an unknown class App\\\\Controllers\\\\Api\\\\Exception\\.$#"
        - "#^Caught class App\\\\Controllers\\\\Api\\\\Exception not found\\.$#"
        - "#^Offset 'profile' on '' in empty\\(\\) does not exist\\.$#"
        - "#^Function service not found\\.$#"
        - "#^Variable \\$striperesponse in empty\\(\\) is never defined\\.$#"
        - "#^Variable \\$stripeResponse in empty\\(\\) is never defined\\.$#"
        - "#^If condition is always false\\.$#"
        - "#^If condition is always true\\.$#"
        - "#^Property App\\\\Controllers\\\\Api\\\\ApiController\\:\\:\\$config has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Api\\\\ApiController\\:\\:\\$apiModel has no type specified\\.$#"
        - "#^Variable \\$paypalMode might not be defined\\.$#"
        - "#^Variable \\$braintreeMerchant might not be defined\\.$#"
        - "#^Variable \\$braintreePrivatekey might not be defined\\.$#"
        - "#^Variable \\$braintreePublickey might not be defined\\.$#"
        - "#^Function redirect not found\\.$#"
        - "#^Function session not found\\.$#"
        - "#^Function view not found\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AppointmentController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AdminController\\:\\:\\$adminModel has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AdminController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AdminController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AppointmentController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AppointmentController\\:\\:\\$commonModel has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AppointmentController\\:\\:\\$appointmentModel has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\AppointmentController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CategoryController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CategoryController\\:\\:\\$commonModel has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CategoryController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CategoryController\\:\\:\\$categoryModel has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CategoryController\\:\\:\\$productCategoryModel has no type specified\\.$#"
        - "#^Variable \\$result might not be defined\\.$#"
        - "#^Function config not found\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CmsController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CmsController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CmsController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CountryController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\CountryController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\DashboardController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\DashboardController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\LanguageController\\:\\:\\$db has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\LanguageController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\LanguageController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\LanguageController\\:\\:\\$language has no type specified\\.$#"
        - "#^Right side of && is always false\\.$#"
        - "#^Right side of && is always true\\.$#"
        - "#^Variable \\$base64string on left side of \\?\\? always exists and is not nullable\\.$#"
        - "#^Parameter \\#1 \\$x_size of function imagecreatetruecolor expects int, float given\\.$#"
        - "#^Parameter \\#2 \\$y_size of function imagecreatetruecolor expects int, float given\\.$#"
        - "#^Parameter \\#7 \\$dst_w of function imagecopyresampled expects int, float given\\.$#"
        - "#^Parameter \\#8 \\$dst_h of function imagecopyresampled expects int, float given\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ReviewController\\:\\:\\$db has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ReviewController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ReviewController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ReviewController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SettingsController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SettingsController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SettingsController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SpecializationController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SpecializationController\\:\\:\\$session has no type specified\\.$#"
        - "#^Variable \\$img in empty\\(\\) always exists and is not falsy\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\UserController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\UserController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\UserController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ProfileController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ProfileController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ProfileController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ProfileController\\:\\:\\$db has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\PharmacyController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\PharmacyController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ProductController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\ProductController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SubcategoryController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\SubcategoryController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\UnitController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Admin\\\\UnitController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\CategoryController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\CategoryController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\CategoryController\\:\\:\\$language has no type specified\\.$#"
        - "#^Parameter \\#2 \\$newvalue of function ini_set expects string, int given\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\PostController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\PostController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\PostController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\SubcategoryController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\SubcategoryController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\Blog\\\\SubcategoryController\\:\\:\\$session has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\User\\\\AccountsController\\:\\:\\$data has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\User\\\\AccountsController\\:\\:\\$language has no type specified\\.$#"
        - "#^Property App\\\\Controllers\\\\User\\\\AccountsController\\:\\:\\$session has no type specified\\.$#"
        - "#^Constant WRITEPATH not found\\.$#"
        - "#^Property App\\\\Controllers\\\\BaseController\\:\\:\\$helpers type has no value type specified in iterable type array\\.$#"
        - "#^Comparison operation \"\\>\" between array\\|bool\\|float\\|int\\|object\\|string\\|null and 0 results in an error\\.$#"
        - "#^Expression on left side of \\?\\? is not nullable\\.$#"
        - "#^Left side of && is always true\\.$#"
        - "#^Variable \\$img on left side of \\?\\? always exists and is not nullable\\.$#"
        - "#^Call to an undefined method App\\\\Models\\\\UserModel\\:\\:insertID\\(\\)\\.$#"
        - "#^Call to an undefined static method Config\\\\Services\\:\\:cart\\(\\)\\.$#"
        - "#^Call to an undefined static method Config\\\\Services\\:\\:Cart\\(\\)\\.$#"
        - "#^Method App\\\\Controllers\\\\AjaxController\\:\\:encrypt\\(\\) has no return type specified\\.$#"
        - "#^Method App\\\\Controllers\\\\AjaxController\\:\\:encrypt\\(\\) has parameter \\$type with no type specified\\.$#"
        - "#^Parameter \\#2 \\$value of function ini_set expects string, int given\\.$#"
        - "#^Parameter \\#1 \\$width of function imagecreatetruecolor expects int, float given\\.$#"
        - "#^Parameter \\#2 \\$height of function imagecreatetruecolor expects int, float given\\.$#"
        - "#^Parameter \\#8 \\$dst_height of function imagecopyresampled expects int, float given\\.$#"
        - "#^Parameter \\#7 \\$dst_width of function imagecopyresampled expects int, float given\\.$#"
        - "#^Property App\\\\Models\\\\AccountsModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\CategoryModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\CommonModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Variable \\$whereNotIn in empty\\(\\) always exists and is not falsy\\.$#"
        - "#^Parameter \\#1 \\$value of method CodeIgniter\\\\Database\\\\BaseBuilder\\:\\:limit\\(\\) expects int\\|null, string given\\.$#"
        - "#^Property App\\\\Models\\\\DashboardModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\HomeModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Variable \\$where on left side of \\?\\? always exists and is not nullable\\.$#"
        - "#^Property App\\\\Models\\\\LabModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Call to an undefined method App\\\\Models\\\\ProductCategoryModel\\:\\:get\\(\\)\\.$#"
        -"#^Property App\\\\Models\\\\ProductCategoryModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\ReviewModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\SignInModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\UserModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\SubcategoryModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"
        - "#^Property App\\\\Models\\\\SubcategoryModel\\:\\:\\$validationMessages type has no value type specified in iterable type array\\.$#"
        - "#^Property App\\\\Models\\\\SubcategoryModel\\:\\:\\$validationRules type has no value type specified in iterable type array\\.$#"
        - "#^Property App\\\\Models\\\\MypatientsModel\\:\\:\\$db with generic class CodeIgniter\\\\Database\\\\BaseConnection does not specify its types\\: TConnection, TResult$#"

    parallel:
        maximumNumberOfProcesses: 1